.btn {
  border: 1px solid gray;
  background-color: white;
  color: black;
  text-align: center;
  margin: 50px;
  font-weight: bold;
  flex: 1;
  padding: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: gray;
}

#button-container {
  display: flex;
}

#flex-list {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-list {
  list-style-type: none;
  text-align: center;
  border: 1px solid white;
  width: 100px;
  padding: 20px;
  background-color: blue;
  color: white;
  font-weight: bold;
  display: none;
  flex-basis: 20%;
}

.show {
  display: block;
}
